.large-seventh { width: (100% / 7); }

.small-seventh {
  width: (100% / 7);
}

.calendar {
  margin: 30px auto;
  max-width: 100%;
  font-size: 14px;
  .clndr{

    .clndr-grid {
      border-bottom: $clndr_borders;

     .days-of-the-week {
        .header-day {
          vertical-align: middle;
          text-align: center;
          height: 30px;
          font-size: 12px;
          background: $clndr-header-bg;
          border-left: 2px solid $clndr-header-bg;
          border-top: 2px solid $clndr-header-bg;
          color: #fff;
          &:last-child {
            border-right: $clndr_borders;
          }
        }
      }
      .days {
          .columns { 
            padding: 0;
            border-left: $clndr_borders;
            border-top: $clndr_borders;            
          }
          .columns:last-child {
            border-right: $clndr_borders;
          }

          .day {
            height: inherit;
            min-height: 50px;
            padding: 2px;
            background: $weekday-bg;
            a.ticket { 
              clear: both;
              font-size: 10px;
              text-align: left;
              padding: 2px;
              font-weight: normal;
              display: block;
              @extend .button, .tiny, .radius;
              margin-bottom: 2px;
            }
            a.daycount{
              text-align: center;
              display: block;
              font-size: 16px;
              color: white;
              padding: 2px;
              background: $orange;
              @include border-radius(1000px); 
            }
            &.calendar-dow-0,
            &.calendar-dow-6 { background: $weekend-bg;}
          }
          .day:hover {background: #eee; }
          .day.today {background: $today-bg; border: 1px solid darken($today-bg, 15%); }
          .day.today:hover {background: #72c6d8; }
          // .day.today.event { background: #a7dbc1; }
          // .day.event { background: #B4E09F; }
          // .day.event:hover { background: #96d478; }
          .day.inactive {background: #ddd; }

          .day .number {
            box-sizing: border-box;
            padding: 1px;
            font-size: 12px;
            text-align: right;
          }
          .empty,
          .adjacent-month { background: $prev-month-bg; }
          .empty:hover,
          .adjacent-month:hover { background: #ddd; }
          .empty:last-child,
          .adjacent-month:last-child {
            // border-right: 1px solid #000000;
          }
          .row:last-child .day {
            // border-bottom: 1px solid #000000;
          }
          .row:last-child .empty {
            // border-bottom: 1px solid #000000;
          }
      }
    }
  }
}



// The overlay has theming too. 
.reveal-modal{
  h2{ text-align: center; }
  width: 80vw;
  left: 10vw;
  padding: 0;
  min-height: 0px;
  top: 5vw!important;
  a{
    display: block;
    @extend .button;
    margin: 0;
    &:nth-child(even){

    }
  }
}

