@import "settings";
@import "foundation";
@import "compass/css3";
@import "compass/utilities";

@import "clndr";
@import "ionicons";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

@import url(http://fonts.googleapis.com/css?family=Raleway);

div.row.overdue { 
  .columns { background: #fdd; }
  border: 1px solid #faa;
}

.project a.title{ 
  color: #444;
}

// Regular Nav
nav.top-bar {
  @include background-image(linear-gradient(45deg, $orange, $pink));
  section ul li a:before{
    font-size: 20px;
    margin-right: 5px;
  }
  section li.active a{ color: #444; }
}
.top-bar-section li:not(.has-form) a:not(.button) {
  background: transparent;
}

// Mobile Nav
ul#mobile-nav{

  @include background-image(linear-gradient(45deg, $orange, $pink));
  &, a { color: #fff; }
  vertical-align: middle;

  li {  
    padding: 0;
    &.active a, a:hover, a:active, a.active {
      background: white;
      color: #444; 
    }
    a{
      text-align: center;
      display: block;
      padding: 10px;

      &:before {
        font-size: 26px;
        display: block;
      }
      span {
        display: block;
        font-size: 10px;
      }
    }
  }
}

// Project Colorizing
@for $i from 1 through 10 {
  $row_color: adjust-hue(#A33, ( $i * 30deg));
  .calendar .clndr .clndr-grid .days .day a.ticket.proj-num-#{$i},
  .reveal-modal a.ticket.proj-num-#{$i}, 
  label.proj-num-#{$i}{
    background: $row_color;
    &:hover{ background: darken($row_color, 10%); }
  }
  div.project-#{$i} {
    background: rgba($row_color, 0.2);
    .project-name{
      background: rgba($row_color, 0.7);
      color: white;
      margin: 0;
    }
    div.issue {
      .columns{
        padding: 5px 0;
      }
      &:nth-child(even){
        background: rgba($row_color, 0.1);
      }
    }
  }
}
