extends layout

block content
  // Wrapper
  #wrapper

    h1 #{title}
    
    div.row
      div.columns.large12
        ul.large-block-grid-5
          each project, i in page
            li
              label(class="label round proj-num-#{i+1}") #{project.name}
    div.calendar
      script(type="text/template", id="clndr-template").
        <div id="calendar-controls" class="row collapse">
          <div class="columns large-10 small-7 text-center">
            <a href="#" class="clndr-previous-button arrow ion-arrow-left-a">&nbsp;</a>
            <a href="#" class="month"><%= month %></a>
            <a href="#" class="clndr-next-button arrow ion-arrow-right-a">&nbsp;</a>
          </div>
          <div class="columns large-2 small-5 text-right">
            <a href="#" class="clndr-today-button button small">Today</a>
          </div>
        </div>
        <div class="clndr-grid">
          <div class="days-of-the-week row collapse">
            <% _.each(moment.weekdays(), function(day) { %>
              <div class="header-day columns small-seventh">
                <span class="hide-for-small"><%= day %></span>
                <span class="show-for-small"><%= day.substring(0,1) %></span>
              </div>
            <% }); %>
          </div>
            <% _.each(days, function(day) { %>
              <% if (day.date.day() == 0 ) { %>
                <div class="days row collapse" data-equalizer>
              <% } %>
              <div class="columns small-seventh" id="<%= day.id %>">
                <div class="<%= day.classes %> day" data-equalizer-watch >
                  <div class="number"><%= day.day %></div>
                  <div class="event-container hide-for-small">
                    <% _.each(day.events, function(event) { %>
                      <%= event.rendered %>
                    <% }); %>
                  </div>
                  <% if (day.events.length > 0) {%>
                    <% todayISO = day.date.format("YYYY-MM-DD"); %>
                    <a target="_blank" href="#" class="button daycount round show-for-small" data-reveal-id="modal-<%= todayISO %>"><%= day.events.length %></a>
                    <div id="modal-<%= todayISO %>" class="reveal-modal" data-reveal>
                      <h2><%= day.date.format("MMMM Do YYYY") %></h2>
                      <% _.each(day.events, function(event) { %>
                        <%= event.rendered %>
                      <% }); %>              
                    </div>    
                  <% } %>
                </div>
              </div>
              <% if (day.date.day() == 6 ) { %>
                </div>
              <% } %>
            <% }); %>

        </div>

block scripts

  //- We've got to get our list of events into 
  script(type='text/javascript').
    // Pass as regular array here
    var projects = !{JSON.stringify(page)};
  
  script(src='/js/clndr_config.js')